<div class="tabs">
  <div class="tab">
    <div class="tab-tile" routerLink="bookmark" routerLinkActive="selected">
      <i class="material-icons-outlined">bookmarks</i>
    </div>
  </div>
  <div class="tab">
    <div class="tab-tile" routerLink="to-do" routerLinkActive="selected">
      <i class="material-icons-outlined">check</i>
    </div>
  </div>
  <div class="tab">
    <div class="tab-tile" routerLink="notes" routerLinkActive="selected">
      <i class="material-icons-outlined">notes</i>
    </div>
  </div>
</div>
