.tabs {
  display: flex;
  gap: 14px;
  background-color: rgba($color: white, $alpha: 0.3);
  border-radius: 15px;
  padding: 10px 15px;
  backdrop-filter: blur(10px);
  margin: 12px;
  // margin-top: 50px;
}

.tab-tile {
  display: flex;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  background: linear-gradient(45deg, #c3c0dd, #9b6fee);
  opacity: 0.7;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tab-tile:hover {
  opacity: 1;
  transform: scale(1.1);
}

.selected {
  opacity: 1;
  transform: scale(1.1) translateY(-32px);
  border-radius: 50%;
  box-shadow: 0px 12px 11px 0px rgba(0, 0, 0, 0.5);
  &.tab-tile:hover {
    transform: scale(1.1) translateY(-32px);
  }
}
